## Preprocessing

In [4]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.11.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (588.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 588.3/588.3 MB 2.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (22.0)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting wrapt>=1.11.0
  Downloading wrapt-1.14.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 3.6 MB/s eta 0:00:00
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.5/57.5 kB 2.5 MB/s eta 0:00:00
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.29.0-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (2.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 46.7 MB/s eta 0:00:00:00:01
Requirement already satisfied: numpy>=1.20 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (1.24.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (4.4.0)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.5/65.5 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: setuptools in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (58.1.0)
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.0-py3-none-any.whl (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 61.9 MB/s eta 0:00:00:00:0100:01
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting absl-py>=1.0.0
  Downloading absl_py-1.3.0-py3-none-any.whl (124 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 124.6/124.6 kB 1.8 MB/s eta 0:00:0000:01
Requirement already satisfied: six>=1.12.0 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (1.16.0)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.51.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 64.1 MB/s eta 0:00:00:00:01
Collecting termcolor>=1.1.0
  Downloading termcolor-2.2.0-py3-none-any.whl (6.6 kB)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 439.2/439.2 kB 17.1 MB/s eta 0:00:00
Collecting protobuf<3.20,>=3.9.2
  Downloading protobuf-3.19.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 29.3 MB/s eta 0:00:00:00:01
Collecting h5py>=2.9.0
  Downloading h5py-3.7.0-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (4.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 50.8 MB/s eta 0:00:00:00:010:01
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 43.4 MB/s eta 0:00:00:00:01
Collecting flatbuffers>=2.0
  Downloading flatbuffers-23.1.4-py2.py3-none-any.whl (26 kB)
Collecting libclang>=13.0.0
  Downloading libclang-14.0.6-py2.py3-none-manylinux2010_x86_64.whl (14.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.1/14.1 MB 37.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/codespace/.local/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.15.0-py2.py3-none-any.whl (177 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.0/177.0 kB 8.6 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.28.1)
Collecting werkzeug>=1.0.1
  Downloading Werkzeug-2.2.2-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.7/232.7 kB 9.6 MB/s eta 0:00:00
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl (4.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 58.1 MB/s eta 0:00:00:00:01
Collecting markdown>=2.6.8
  Downloading Markdown-3.4.1-py3-none-any.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.3/93.3 kB 4.6 MB/s eta 0:00:00
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 781.3/781.3 kB 27.8 MB/s eta 0:00:00
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.2.0-py3-none-any.whl (9.3 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 155.3/155.3 kB 7.7 MB/s eta 0:00:00
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (1.26.13)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.1)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.1/77.1 kB 3.7 MB/s eta 0:00:00
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 151.7/151.7 kB 7.1 MB/s eta 0:00:00
Installing collected packages: tensorboard-plugin-wit, pyasn1, libclang, flatbuffers, wrapt, werkzeug, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard-data-server, rsa, pyasn1-modules, protobuf, opt-einsum, oauthlib, markdown, keras, h5py, grpcio, google-pasta, gast, cachetools, astunparse, absl-py, requests-oauthlib, google-auth, google-auth-oauthlib, tensorboard, tensorflow
Successfully installed absl-py-1.3.0 astunparse-1.6.3 cachetools-5.2.0 flatbuffers-23.1.4 gast-0.4.0 google-auth-2.15.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.51.1 h5py-3.7.0 keras-2.11.0 libclang-14.0.6 markdown-3.4.1 oauthlib-3.2.2 opt-einsum-3.3.0 protobuf-3.19.6 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.1 rsa-4.9 tensorboard-2.11.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-io-gcs-filesystem-0.29.0 termcolor-2.2.0 werkzeug-2.2.2 wrapt-1.14.1

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://raw.githubusercontent.com/Alphaomegainfinity/deep-learning-Alphabet-Soup/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns =['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df[application_df.dtypes.index.tolist()].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
count_freq = dict(application_df['APPLICATION_TYPE'].value_counts())
application_types_to_replace = dict(filter(lambda i:i[1]<528, count_freq.items()))

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_df[application_df['CLASSIFICATION'].isin(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()<1883].index)]['CLASSIFICATION']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_convert = pd.get_dummies(application_df)
application_convert

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_convert["IS_SUCCESSFUL"]
X_application_convert = application_convert.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X_application_convert, y, random_state = 42, stratify =y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Checking the number of feature:
# number_input_feature = len(X_train[0])
# number_input_feature

In [18]:
# Checking the number of feature:
number_input_feature = X_train.shape[1]
number_input_feature

43

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense (units = 80, input_dim = 43,  activation ="relu")) #how to find the nodes/no. of neurons

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add (tf.keras.layers.Dense (units = 30, activation = "relu")) #why 30?

# Output layer
#  YOUR CODE GOES HERE
nn.add (tf.keras.layers.Dense (units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile (loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [22]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit (X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 1ms/step - loss: 0.5698 - accuracy: 0.7221
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7315
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7322
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7326
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7328
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7347
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7339
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7350
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7351
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7352
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7363
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7361
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7366
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7370
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7374
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7372
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7376
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7380
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7383
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7387
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7382
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7384
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7389
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7386
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7381
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7387
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7386
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7389
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7386
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7390
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7398
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7401
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7395
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7392
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7404
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7399
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7393
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7402
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7395
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7401
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7395
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7392
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7412
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7407
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7404
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7407
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7403
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7410
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7405
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5362 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7403
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7407
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7408
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7403
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7413
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7413
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7412
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7409
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7410
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7412
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7406
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7413
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7411
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7412
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7409
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7411
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7416
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7404

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5646 - accuracy: 0.7265 - 559ms/epoch - 2ms/step
Loss: 0.5646046996116638, Accuracy: 0.7265306115150452

In [ ]:
!pip install h5py

In [21]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("Resources/Alphabet_Soup.h5")