## Preprocessing

In [ ]:
# Run this code if the machine doesn't have tensorflow ready
#!pip install tensorflow

In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://raw.githubusercontent.com/Alphaomegainfinity/deep-learning-Alphabet-Soup/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns =['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Determine the number of unique values in each column.

application_df[application_df.dtypes.index.tolist()].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [40]:
# Look at APPLICATION_TYPE value counts for binning

application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

count_freq = dict(application_df['APPLICATION_TYPE'].value_counts())
application_types_to_replace = dict(filter(lambda i:i[1]<528, count_freq.items()))

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning

application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [43]:
# You may find it helpful to look at CLASSIFICATION value counts >1

application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [44]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = application_df[application_df['CLASSIFICATION'].isin(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()<1883].index)]['CLASSIFICATION']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [45]:
# Convert categorical data to numeric with `pd.get_dummies`

application_convert = pd.get_dummies(application_df)
application_convert

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [46]:
# Split our preprocessed data into our features and target arrays

y = application_convert["IS_SUCCESSFUL"]
X_application_convert = application_convert.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X_application_convert, y, random_state = 42, stratify =y)

In [47]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [48]:
# Checking the number of feature:

number_input_feature = X_train.shape[1]
number_input_feature

43

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense (units = 80, input_dim = 43,  activation ="relu")) 

# Second hidden layer

nn.add (tf.keras.layers.Dense (units = 30, activation = "relu")) 

# Output layer

nn.add (tf.keras.layers.Dense (units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model

nn.compile (loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [ ]:
# Train the model

fit_model = nn.fit (X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5705 - accuracy: 0.7241
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7315
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7316
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7322
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7339
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7343
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7345
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7329
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7349
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7364
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7358
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7361
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7367
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7357
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7369
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7371
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7374
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7367
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7377
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7379
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7381
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7381
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7390
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7387
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7388
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7398
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7390
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7397
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7392
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7400
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7399
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7408
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7407
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7399
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7402
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7409
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7406
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7408
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7403
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7412
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7413
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7409
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7413
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7415
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7414
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7414
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7416
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7413
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7410
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7409
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7412
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7416
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7415
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7416
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7418
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7413
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7421
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7411
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7409
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7413
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7422
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7418
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7411
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7420
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7424
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7423

In [ ]:
# Evaluate the model using the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5612 - accuracy: 0.7250 - 313ms/epoch - 1ms/step
Loss: 0.5612141489982605, Accuracy: 0.7250145673751831

In [ ]:
# Export our model to HDF5 file

nn.save("Resources/AlphabetSoupCharity_Optimisation.h5")

## Checking the model against the computer's auto selection model

In [ ]:
# Install keras_tuner
!pip install keras_tuner

In [50]:
# Import dependencies

import sklearn as skl
import keras_tuner as kt

In [51]:
# Use sklearn to split dataset

from sklearn.model_selection import train_test_split
X_train_sk, X_test_sk, y_train_sk, y_test_sk = train_test_split (X_application_convert, y, random_state = 42, stratify =y)

In [52]:
# Create scaler instance

X_scaler_sk = skl.preprocessing.StandardScaler()

# Fit the scaler

X_scaler_sk.fit (X_train_sk)

# Scale the data

X_train_scaled_sk = X_scaler_sk. transform(X_train_sk)
X_test_scaled_sk = X_scaler_sk.transform (X_test_sk)

In [53]:
# Create a method that creates a new Sequential model with hyperparameter options

def create_model(hp):
    nn_model = tf.keras.models.Sequential()

# Allow kerastuner to decide which activation function to use in hidden layers

    activation = hp. Choice('activation',['relu','tanh', 'sigmoid'])

# Allow kerastuner to decide number of neurons in first layer

    nn_model.add(tf.keras.layers.Dense(units = hp.Int ('first_units', min_value = 1, max_value = 100, step=2), activation = activation, input_dim = 43))

# Allow kerastuner to decide number of hidden layers and neurons in hidden layers

    for i in range (hp.Int ('num_layers', 1,6)):
        nn_model.add (tf.keras.layers.Dense(units = hp. Int('units_' + str(i), min_value = 1, max_value = 100, step=2), activation = activation))

    nn_model.add (tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Compile the model

    nn_model.compile(loss = "binary_crossentropy", optimizer = "adam", metrics= ["accuracy"])

    return nn_model

In [54]:
# Applying Hyperband

tuner = kt.Hyperband (create_model, objective= "val_accuracy", max_epochs= 100, hyperband_iterations= 2)

In [55]:
# Run the kerastuner seach for best hyperparameters
tuner.search (X_train_scaled_sk, y_train_sk, epochs =20, validation_data = (X_test_scaled_sk, y_test_sk))

Trial 508 Complete [00h 03m 04s]
val_accuracy: 0.7266472578048706

Best val_accuracy So Far: 0.7281632423400879
Total elapsed time: 01h 56m 00s

In [57]:
# Get best model hyperparmeters

best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 27,
 'num_layers': 2,
 'units_0': 77,
 'units_1': 89,
 'units_2': 93,
 'units_3': 41,
 'units_4': 77,
 'units_5': 91,
 'tuner/epochs': 100,
 'tuner/initial_epoch': 34,
 'tuner/bracket': 3,
 'tuner/round': 3,
 'tuner/trial_id': '0206'}

In [59]:
# Evaluate best model against full test data 

best_model = tuner.get_best_models(1)[0]
model_loss_sk, model_accuracy_sk = best_model.evaluate (X_test_scaled_sk, y_test_sk, verbose =2)
print (f"Loss: {model_loss_sk}, Accuracy: {model_accuracy_sk}")

268/268 - 0s - loss: 0.5566 - accuracy: 0.7282 - 385ms/epoch - 1ms/step
Loss: 0.55659019947052, Accuracy: 0.7281632423400879

#### Comment: Comparing the best model generated by a computer and the manual defined model, both models gave the similar answer : "relu" function is the best function to fit in the model with the accuracy of 72%, lost % between 55.6% and 56.1%. Besides, both models also showed 2 hidden layers were the best solution