## Preprocessing

In [1]:
# Run this code if the machine doesn't have tensorflow ready
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/python/3.10.4/lib/python3.10/site-packages (2.11.0)
Requirement already satisfied: six>=1.12.0 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: numpy>=1.20 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (1.24.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.51.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (0.29.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (23.1.4)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.3.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (4.4.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: setuptools in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (58.1.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (3.19.6)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (22.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (3.7.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (15.0.6.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.2.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/codespace/.local/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.15.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (3.4.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.2.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.28.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (5.2.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.1.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (3.2.2)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://raw.githubusercontent.com/Alphaomegainfinity/deep-learning-Alphabet-Soup/main/Resources/charity_data.csv")
application_df.head()

2023-01-10 06:05:13.530603: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-01-10 06:05:16.753993: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-01-10 06:05:16.754033: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-01-10 06:05:23.811230: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-01-10 06:05:23.811534: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-01-10 06:05:23.811553: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns =['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.

application_df[application_df.dtypes.index.tolist()].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning

application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

count_freq = dict(application_df['APPLICATION_TYPE'].value_counts())
application_types_to_replace = dict(filter(lambda i:i[1]<528, count_freq.items()))

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning

application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1

application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = application_df[application_df['CLASSIFICATION'].isin(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()<1883].index)]['CLASSIFICATION']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`

application_convert = pd.get_dummies(application_df)
application_convert

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays

y = application_convert["IS_SUCCESSFUL"]
X_application_convert = application_convert.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X_application_convert, y, random_state = 42, stratify =y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Checking the number of feature:

number_input_feature = X_train.shape[1]
number_input_feature

43

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense (units = 80, input_dim = 43,  activation ="relu")) 

# Second hidden layer

nn.add (tf.keras.layers.Dense (units = 30, activation = "relu")) 

# Output layer

nn.add (tf.keras.layers.Dense (units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

2023-01-10 06:05:34.360350: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2023-01-10 06:05:34.368442: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2023-01-10 06:05:34.368504: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (codespaces-f12233): /proc/driver/nvidia/version does not exist
2023-01-10 06:05:34.369305: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model

nn.compile (loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [16]:
# Import Model Checkpoint to save the weights

from keras.callbacks import ModelCheckpoint
import os

checkpoint_path = "Resources/cp-{epoch:04d}.ckpt"
checkpoint_dir = os.path.dirname (checkpoint_path)
model_callback = tf.keras.callbacks.ModelCheckpoint (checkpoint_path, verbose =1, save_weights_only = True,period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [17]:
nn.save_weights(checkpoint_path.format (epoch = 0))

In [18]:
from keras import callbacks
# Train the model

fit_model = nn.fit (X_train_scaled, y_train, epochs=100, callbacks = [model_callback])

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5734 - accuracy: 0.7181
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7316
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7320
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7330
Epoch 5/100
789/804 [============================>.] - ETA: 0s - loss: 0.5487 - accuracy: 0.7325
Epoch 5: saving model to Resources/cp-0005.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7341
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7338
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7360
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7354
Epoch 10/100
804/804 [==============================] - ETA: 0s - loss: 0.5452 - accuracy: 0.7357
Epoch 10: saving model to Resources/cp-0010.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7357
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7361
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7371
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7368
Epoch 15/100
778/804 [============================>.] - ETA: 0s - loss: 0.5432 - accuracy: 0.7373
Epoch 15: saving model to Resources/cp-0015.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7371
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7376
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7372
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7376
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7374
Epoch 20/100
799/804 [============================>.] - ETA: 0s - loss: 0.5424 - accuracy: 0.7372
Epoch 20: saving model to Resources/cp-0020.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7372
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7375
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7376
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7376
Epoch 25/100
791/804 [============================>.] - ETA: 0s - loss: 0.5408 - accuracy: 0.7385
Epoch 25: saving model to Resources/cp-0025.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7385
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7381
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7379
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7383
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7390
Epoch 30/100
772/804 [===========================>..] - ETA: 0s - loss: 0.5408 - accuracy: 0.7370
Epoch 30: saving model to Resources/cp-0030.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7390
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7392
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7388
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7390
Epoch 35/100
786/804 [============================>.] - ETA: 0s - loss: 0.5399 - accuracy: 0.7392
Epoch 35: saving model to Resources/cp-0035.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7393
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7400
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7392
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7395
Epoch 40/100
785/804 [============================>.] - ETA: 0s - loss: 0.5396 - accuracy: 0.7387
Epoch 40: saving model to Resources/cp-0040.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7394
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7403
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7390
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7398
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7397
Epoch 45/100
803/804 [============================>.] - ETA: 0s - loss: 0.5385 - accuracy: 0.7398
Epoch 45: saving model to Resources/cp-0045.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7398
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7400
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7399
Epoch 50/100
790/804 [============================>.] - ETA: 0s - loss: 0.5381 - accuracy: 0.7402
Epoch 50: saving model to Resources/cp-0050.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7402
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7394
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7395
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7403
Epoch 55/100
787/804 [============================>.] - ETA: 0s - loss: 0.5381 - accuracy: 0.7403
Epoch 55: saving model to Resources/cp-0055.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7404
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7407
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7406
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7400
Epoch 60/100
795/804 [============================>.] - ETA: 0s - loss: 0.5362 - accuracy: 0.7405
Epoch 60: saving model to Resources/cp-0060.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7402
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7404
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7406
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7407
Epoch 65/100
803/804 [============================>.] - ETA: 0s - loss: 0.5360 - accuracy: 0.7413
Epoch 65: saving model to Resources/cp-0065.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7411
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7413
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7411
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7405
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7412
Epoch 70/100
786/804 [============================>.] - ETA: 0s - loss: 0.5364 - accuracy: 0.7408
Epoch 70: saving model to Resources/cp-0070.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7409
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7407
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7414
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7407
Epoch 75/100
787/804 [============================>.] - ETA: 0s - loss: 0.5351 - accuracy: 0.7414
Epoch 75: saving model to Resources/cp-0075.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7410
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7410
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7407
Epoch 80/100
780/804 [============================>.] - ETA: 0s - loss: 0.5360 - accuracy: 0.7403
Epoch 80: saving model to Resources/cp-0080.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7408
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7407
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7410
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 85/100
788/804 [============================>.] - ETA: 0s - loss: 0.5354 - accuracy: 0.7400
Epoch 85: saving model to Resources/cp-0085.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7410
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7414
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7412
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 90/100
803/804 [============================>.] - ETA: 0s - loss: 0.5352 - accuracy: 0.7417
Epoch 90: saving model to Resources/cp-0090.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7416
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7412
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7411
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7407
Epoch 95/100
803/804 [============================>.] - ETA: 0s - loss: 0.5348 - accuracy: 0.7421
Epoch 95: saving model to Resources/cp-0095.ckpt
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7421
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7417
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7414
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7411
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7411
Epoch 100/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5343 - accuracy: 0.7415
Epoch 100: saving model to Resources/cp-0100.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7411

In [19]:
# Evaluate the model using the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5612 - accuracy: 0.7241 - 447ms/epoch - 2ms/step
Loss: 0.5612435340881348, Accuracy: 0.7240816354751587

In [20]:
# Export our model to HDF5 file

nn.save("Resources/AlphabetSoupCharity_Optimisation.h5")

### Optimise the Model

In [21]:
# Increase more bin in CLASSIFICATION value counts >6

application_reduced = application_df. drop (['STATUS', 'USE_CASE'], axis =1)
application_reduced

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,0,N,5000,1
1,T3,Independent,C2000,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,Association,0,N,5000,0
34295,T4,CompanySponsored,C3000,Association,0,N,5000,0
34296,T3,CompanySponsored,C2000,Association,0,N,5000,0
34297,T5,Independent,C3000,Association,0,N,5000,1
34298,T3,Independent,C1000,Co-operative,1M-5M,N,36500179,0

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`

application_convert_reduced = pd.get_dummies(application_reduced)
application_convert_reduced

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [23]:
# Split our preprocessed data into our features and target arrays

y_reduce = application_convert_reduced["IS_SUCCESSFUL"]
X_application_reduced = application_convert_reduced.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset

X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_application_reduced, y_reduce, random_state = 42, stratify =y)

In [24]:
# Create a StandardScaler instances
scaler_reduce = StandardScaler()

# Fit the StandardScaler
X_scaler_reduce = scaler_reduce.fit(X_train_reduced)

# Scale the data
X_train_scaled_reduce = X_scaler_reduce.transform(X_train_reduced)
X_test_scaled_reduce = X_scaler_reduce.transform(X_test_reduced)

In [25]:
# Checking the number of feature:

number_feature_reduce = X_train_reduced.shape[1]
number_feature_reduce

37

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_reduce = tf.keras.models.Sequential()

# First hidden layer

nn_reduce.add(tf.keras.layers.Dense (units = 100, input_dim = 37,  activation ="tanh")) 

# Second hidden layer

nn_reduce.add (tf.keras.layers.Dense (units = 50, activation = "tanh")) 

# Third hidden layer

nn_reduce.add (tf.keras.layers.Dense (units = 20, activation = "tanh")) 

# Output layer

nn_reduce.add (tf.keras.layers.Dense (units = 1, activation = "sigmoid"))

# Check the structure of the model
nn_reduce.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 100)               3800

 dense_4 (Dense)             (None, 50)                5050

 dense_5 (Dense)             (None, 20)                1020

 dense_6 (Dense)             (None, 1)                 21

=================================================================
Total params: 9,891
Trainable params: 9,891
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model

nn_reduce.compile (loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [28]:
# Train the model

fit_model_reduce = nn_reduce.fit (X_train_scaled_reduce, y_train_reduced, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5697 - accuracy: 0.7221
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7302
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7305
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7306
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7306
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7334
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7338
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7334
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7343
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7330
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7357
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7357
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7357
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7359
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7369
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7361
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7371
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7376
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7376
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7378
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7372
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7385
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7385
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7390
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7385
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7385
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7385
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7388
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7385
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7382
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7390
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7380
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7385
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7384
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7397
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7385
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7395
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7397
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7395
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7388
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7390
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7392
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7396
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7389
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7394
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7397

In [29]:
# Evaluate the model using the test data

model_loss_reduce, model_accuracy_reduce = nn_reduce.evaluate(X_test_scaled_reduce,y_test_reduced,verbose=2)
print(f"Loss: {model_loss_reduce}, Accuracy: {model_accuracy_reduce}")

268/268 - 1s - loss: 0.5609 - accuracy: 0.7227 - 575ms/epoch - 2ms/step
Loss: 0.5608599185943604, Accuracy: 0.7226822376251221

### Changing testing method to ReLu

In [30]:
# Split the preprocessed data into a training and testing dataset

X_train_relu, X_test_relu, y_train_relu, y_test_relu = train_test_split(X_application_reduced, y_reduce, random_state = 42, stratify =y)

In [31]:
# Create a StandardScaler instances
scaler_relu = StandardScaler()

# Fit the StandardScaler
X_scaler_relu = scaler_relu.fit(X_train_relu)

# Scale the data
X_train_scaled_relu = X_scaler_relu.transform(X_train_relu)
X_test_scaled_relu = X_scaler_relu.transform(X_test_relu)

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_relu = tf.keras.models.Sequential()

# First hidden layer

nn_relu.add(tf.keras.layers.Dense (units = 100, input_dim = 37,  activation ="relu")) 

# Second hidden layer

nn_relu.add (tf.keras.layers.Dense (units = 50, activation = "relu")) 

# Third hidden layer

nn_relu.add (tf.keras.layers.Dense (units = 20, activation = "relu")) 

# Output layer

nn_relu.add (tf.keras.layers.Dense (units = 1, activation = "sigmoid"))

# Check the structure of the model
nn_relu.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 100)               3800

 dense_8 (Dense)             (None, 50)                5050

 dense_9 (Dense)             (None, 20)                1020

 dense_10 (Dense)            (None, 1)                 21

=================================================================
Total params: 9,891
Trainable params: 9,891
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model

nn_relu.compile (loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [34]:
# Train the model

fit_model_relu = nn_relu.fit (X_train_scaled_relu, y_train_relu, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5694 - accuracy: 0.7227
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7306
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7313
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7329
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7341
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7334
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7338
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7336
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7334
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7346
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7341
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7356
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7351
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7349
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7356
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7354
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7348
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7362
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7359
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7365
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7360
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7355
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7361
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7368
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7369
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7367
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7374
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7371
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7377
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7368
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7371
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7369
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7374
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7379
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7378
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7377
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7372
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7384
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7385
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7387
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7381
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7379
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7382
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7379
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7389
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7391
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7385
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7380
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7387
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7385
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7384
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7384
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7387
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7397
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7384
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7390
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7391
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7392
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7394
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7394
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7391
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7395
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7393
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7393
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7390
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7395
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7394
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7383
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7399
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7390
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7392
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7391
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7391
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7398
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7393
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7391
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7394
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7392
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7394
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7397
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7393
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7399
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7391
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7395
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7398
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7397
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7387
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7394
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7402
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7397
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7396

In [35]:
# Evaluate the model using the test data

model_loss_relu, model_accuracy_relu = nn_relu.evaluate(X_test_scaled_relu,y_test_relu,verbose=2)
print(f"Loss: {model_loss_relu}, Accuracy: {model_accuracy_relu}")

268/268 - 0s - loss: 0.5740 - accuracy: 0.7236 - 449ms/epoch - 2ms/step
Loss: 0.5739560127258301, Accuracy: 0.7236151695251465

After reduced the number of features (from 43 to 37), testing with different models, increasing number of layers as well as changing the number of neurons, epochs, the accuracy percentage didn't improve much. It can be concluded that the data may have too much noise. 

Next step, we will let the computer to run and automatically choose the best model to compare with the above methods

## Checking the model against the computer's auto selection model

In [36]:
# Install keras_tuner
!pip install keras_tuner

Requirement already satisfied: keras_tuner in /usr/local/python/3.10.4/lib/python3.10/site-packages (1.1.3)
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (8.7.0)
Requirement already satisfied: tensorboard in /usr/local/python/3.10.4/lib/python3.10/site-packages (from keras_tuner) (2.11.0)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (2.28.1)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (1.24.0)
Requirement already satisfied: kt-legacy in /usr/local/python/3.10.4/lib/python3.10/site-packages (from keras_tuner) (1.0.4)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (22.0)
Requirement already satisfied: pickleshare in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (3.0.36)
Requirement already satisfied: backcall in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (2.13.0)
Requirement already satisfied: stack-data in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.6.2)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.18.2)
Requirement already satisfied: matplotlib-inline in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (4.8.0)
Requirement already satisfied: traitlets>=5 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (5.8.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: protobuf<4,>=3.9.2 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (3.19.6)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (2.2.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (2.15.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (1.8.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (1.3.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (3.4.1)
Requirement already satisfied: wheel>=0.26 in /home/codespace/.local/lib/python3.10/site-packages (from tensorboard->keras_tuner) (0.38.4)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (1.51.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (58.1.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (5.2.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /home/codespace/.local/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (1.16.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (1.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/codespace/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->keras_tuner) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.10/site-packages (from pexpect>4.3->ipython->keras_tuner) (0.7.0)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython->keras_tuner) (0.2.5)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard->keras_tuner) (2.1.1)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->keras_tuner) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->keras_tuner) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->keras_tuner) (1.2.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (3.2.2)

In [37]:
# Import dependencies

import sklearn as skl
import keras_tuner as kt

In [38]:
# Use sklearn to split dataset

from sklearn.model_selection import train_test_split
X_train_sk, X_test_sk, y_train_sk, y_test_sk = train_test_split (X_application_convert, y, random_state = 42, stratify =y)

In [39]:
# Create scaler instance

X_scaler_sk = skl.preprocessing.StandardScaler()

# Fit the scaler

X_scaler_sk.fit (X_train_sk)

# Scale the data

X_train_scaled_sk = X_scaler_sk. transform(X_train_sk)
X_test_scaled_sk = X_scaler_sk.transform (X_test_sk)

In [40]:
# Create a method that creates a new Sequential model with hyperparameter options

def create_model(hp):
    nn_model = tf.keras.models.Sequential()

# Allow kerastuner to decide which activation function to use in hidden layers

    activation = hp. Choice('activation',['relu','tanh', 'sigmoid'])

# Allow kerastuner to decide number of neurons in first layer

    nn_model.add(tf.keras.layers.Dense(units = hp.Int ('first_units', min_value = 1, max_value = 100, step=2), activation = activation, input_dim = 43))

# Allow kerastuner to decide number of hidden layers and neurons in hidden layers

    for i in range (hp.Int ('num_layers', 1,6)):
        nn_model.add (tf.keras.layers.Dense(units = hp. Int('units_' + str(i), min_value = 1, max_value = 100, step=2), activation = activation))

    nn_model.add (tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Compile the model

    nn_model.compile(loss = "binary_crossentropy", optimizer = "adam", metrics= ["accuracy"])

    return nn_model

In [41]:
# Applying Hyperband

tuner = kt.Hyperband (create_model, objective= "val_accuracy", max_epochs= 100, hyperband_iterations= 2)

INFO:tensorflow:Reloading Oracle from existing project ./untitled_project/oracle.json
INFO:tensorflow:Reloading Tuner from ./untitled_project/tuner0.json

In [42]:
# Run the kerastuner seach for best hyperparameters
tuner.search(X_train_scaled_sk, y_train_sk, epochs =50, validation_data = (X_test_scaled_sk, y_test_sk))

Trial 508 Complete [00h 03m 18s]
val_accuracy: 0.7261807322502136

Best val_accuracy So Far: 0.7285131216049194
Total elapsed time: 00h 46m 16s
INFO:tensorflow:Oracle triggered exit

In [43]:
# Get best model hyperparmeters

best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 11,
 'num_layers': 4,
 'units_0': 59,
 'units_1': 95,
 'units_2': 47,
 'units_3': 81,
 'units_4': 11,
 'units_5': 45,
 'tuner/epochs': 34,
 'tuner/initial_epoch': 12,
 'tuner/bracket': 3,
 'tuner/round': 2,
 'tuner/trial_id': '0195'}

In [44]:
# Evaluate best model against full test data 

best_model = tuner.get_best_models(1)[0]
model_loss_sk, model_accuracy_sk = best_model.evaluate (X_test_scaled_sk, y_test_sk, verbose =2)
print (f"Loss: {model_loss_sk}, Accuracy: {model_accuracy_sk}")

268/268 - 1s - loss: 0.5540 - accuracy: 0.7285 - 673ms/epoch - 3ms/step
Loss: 0.5539936423301697, Accuracy: 0.7285131216049194

#### Comment: Comparing the best model generated by a computer and the manual defined model, both models gave the similar answer : "relu" function is the best function to fit in the model with the accuracy of 72%, lost % between 55.6% and 56.1%. Besides, both models also showed 2 hidden layers were the best solution