## Preprocessing

In [ ]:
# Run this code if the machine doesn't have tensorflow ready
#!pip install tensorflow

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://raw.githubusercontent.com/Alphaomegainfinity/deep-learning-Alphabet-Soup/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns =['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Determine the number of unique values in each column.

application_df[application_df.dtypes.index.tolist()].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [20]:
# Look at APPLICATION_TYPE value counts for binning

application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

count_freq = dict(application_df['APPLICATION_TYPE'].value_counts())
application_types_to_replace = dict(filter(lambda i:i[1]<528, count_freq.items()))

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts for binning

application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1

application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = application_df[application_df['CLASSIFICATION'].isin(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()<1883].index)]['CLASSIFICATION']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`

application_convert = pd.get_dummies(application_df)
application_convert

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [26]:
# Split our preprocessed data into our features and target arrays

y = application_convert["IS_SUCCESSFUL"]
X_application_convert = application_convert.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X_application_convert, y, random_state = 42, stratify =y)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Checking the number of feature:
# number_input_feature = len(X_train[0])
# number_input_feature

In [28]:
# Checking the number of feature:

number_input_feature = X_train.shape[1]
number_input_feature

43

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense (units = 80, input_dim = 43,  activation ="relu")) 

# Second hidden layer

nn.add (tf.keras.layers.Dense (units = 30, activation = "relu")) #why 30?

# Output layer

nn.add (tf.keras.layers.Dense (units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model

nn.compile (loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [32]:
# Train the model

fit_model = nn.fit (X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5705 - accuracy: 0.7241
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7315
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7316
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7322
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7339
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7343
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7345
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7329
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7349
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7364
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7358
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7361
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7367
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7357
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7369
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7371
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7374
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7367
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7377
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7379
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7381
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7381
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7390
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7387
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7388
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7398
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7390
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7397
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7392
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7400
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7399
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7408
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7407
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7399
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7402
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7409
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7406
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7408
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7403
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7412
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7413
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7409
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7413
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7415
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7414
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7414
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7416
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7413
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7410
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7409
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7412
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7416
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7415
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7416
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7418
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7413
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7421
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7411
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7409
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7413
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7422
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7418
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7411
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7420
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7424
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7423

In [34]:
# Evaluate the model using the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5612 - accuracy: 0.7250 - 313ms/epoch - 1ms/step
Loss: 0.5612141489982605, Accuracy: 0.7250145673751831

In [35]:
# Export our model to HDF5 file

nn.save("Resources/AlphabetSoupCharity_Optimisation.h5")

Checking the model against the computer's auto selection model

In [41]:
# Install keras_tuner
#!pip install keras_tuner

Collecting keras_tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 135.7/135.7 kB 5.4 MB/s eta 0:00:00
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (8.7.0)
Requirement already satisfied: tensorboard in /usr/local/python/3.10.4/lib/python3.10/site-packages (from keras_tuner) (2.11.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (2.28.1)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (22.0)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from keras_tuner) (1.24.0)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (4.8.0)
Requirement already satisfied: pickleshare in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (2.13.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (3.0.36)
Requirement already satisfied: traitlets>=5 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (5.8.0)
Requirement already satisfied: stack-data in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.6.2)
Requirement already satisfied: backcall in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.2.0)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: matplotlib-inline in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.1.6)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->keras_tuner) (0.18.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras_tuner) (3.4)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (2.2.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (1.8.1)
Requirement already satisfied: wheel>=0.26 in /home/codespace/.local/lib/python3.10/site-packages (from tensorboard->keras_tuner) (0.38.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (2.15.0)
Requirement already satisfied: protobuf<4,>=3.9.2 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (3.19.6)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (1.51.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (1.3.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard->keras_tuner) (58.1.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.9)
Requirement already satisfied: six>=1.9.0 in /home/codespace/.local/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (1.16.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (1.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/codespace/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->keras_tuner) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.10/site-packages (from pexpect>4.3->ipython->keras_tuner) (0.7.0)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython->keras_tuner) (0.2.5)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard->keras_tuner) (2.1.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->keras_tuner) (2.2.1)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->keras_tuner) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->keras_tuner) (1.2.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (3.2.2)
Installing collected packages: kt-legacy, keras_tuner
Successfully installed keras_tuner-1.1.3 kt-legacy-1.0.4

In [42]:
# Import dependencies

import sklearn as skl
import keras_tuner as kt

In [46]:
# Use sklearn to split dataset

from sklearn.model_selection import train_test_split
X_train_sk, X_test_sk, y_train_sk, y_test_sk = train_test_split (X_application_convert, y, random_state = 42, stratify =y)

In [47]:
# Create scaler instance

X_scaler_sk = skl.preprocessing.StandardScaler()

# Fit the scaler

X_scaler_sk.fit (X_train_sk)

# Scale the data

X_train_scaled_sk = X_scaler_sk. transform(X_train_sk)
X_test_scaled_sk = X_scaler_sk.transform (X_test_sk)

In [54]:
# Create a method that creates a new Sequential model with hyperparameter options

def create_model(hp):
    nn_model = tf.keras.models.Sequential()

# Allow kerastuner to decide which activation function to use in hidden layers

    activation = hp. Choice('activation',['relu','tanh', 'sigmoid'])

# Allow kerastuner to decide number of neurons in first layer

    nn_model.add(tf.keras.layers.Dense(units = hp.Int ('first_units', min_value = 1, max_value = 100, step=2), activation = activation, input_dim = 43))

# Allow kerastuner to decide number of hidden layers and neurons in hidden layers

    for i in range (hp.Int ('num_layers', 1,6)):
        nn_model.add (tf.keras.layers.Dense(units = hp. Int('units_' + str(i), min_value = 1, max_value = 100, step=2), activation = activation))

    nn_model.add (tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Compile the model

    nn_model.compile(loss = "binary_crossentropy", optimizer = "adam", metrics= ["accuracy"])

    return nn_model

In [56]:
# Applying Hyperband

tuner = kt.Hyperband (create_model, objective= "val_accuracy", max_epochs= 100, hyperband_iterations= 2)

INFO:tensorflow:Reloading Oracle from existing project ./untitled_project/oracle.json

In [57]:
# Run the kerastuner seach for best hyperparameters
tuner.search (X_train_scaled_sk, y_train_sk, epochs =20, validation_data = (X_test_scaled_sk, y_test_sk))

Trial 249 Complete [00h 02m 57s]
val_accuracy: 0.7265306115150452

Best val_accuracy So Far: 0.7285131216049194
Total elapsed time: 01h 30m 51s

Search: Running Trial #250

Value             |Best Value So Far |Hyperparameter
sigmoid           |tanh              |activation
11                |11                |first_units
3                 |4                 |num_layers
45                |59                |units_0
91                |95                |units_1
91                |47                |units_2
27                |81                |units_3
89                |11                |units_4
65                |45                |units_5
100               |34                |tuner/epochs
0                 |12                |tuner/initial_epoch
0                 |3                 |tuner/bracket
0                 |2                 |tuner/round

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6145 - accuracy: 0.6800 - val_loss: 0.5827 - val_accuracy: 0.7193
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5760 - accuracy: 0.7269 - val_loss: 0.5836 - val_accuracy: 0.7187
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5725 - accuracy: 0.7281 - val_loss: 0.5753 - val_accuracy: 0.7230
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5668 - accuracy: 0.7283 - val_loss: 0.5741 - val_accuracy: 0.7222
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5642 - accuracy: 0.7297 - val_loss: 0.5672 - val_accuracy: 0.7234
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5611 - accuracy: 0.7302 - val_loss: 0.5654 - val_accuracy: 0.7240
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5593 - accuracy: 0.7310 - val_loss: 0.5668 - val_accuracy: 0.7262
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5576 - accuracy: 0.7321 - val_loss: 0.5676 - val_accuracy: 0.7258
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7311 - val_loss: 0.5617 - val_accuracy: 0.7236
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7318 - val_loss: 0.5656 - val_accuracy: 0.7255
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5558 - accuracy: 0.7308 - val_loss: 0.5692 - val_accuracy: 0.7233
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7324 - val_loss: 0.5601 - val_accuracy: 0.7251
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7332 - val_loss: 0.5609 - val_accuracy: 0.7250
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7325 - val_loss: 0.5594 - val_accuracy: 0.7245
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7336 - val_loss: 0.5594 - val_accuracy: 0.7259
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7327 - val_loss: 0.5586 - val_accuracy: 0.7262
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7335 - val_loss: 0.5582 - val_accuracy: 0.7264
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7334 - val_loss: 0.5598 - val_accuracy: 0.7226
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7339 - val_loss: 0.5626 - val_accuracy: 0.7230
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7333 - val_loss: 0.5587 - val_accuracy: 0.7263
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5499 - accuracy: 0.7338 - val_loss: 0.5571 - val_accuracy: 0.7262
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5499 - accuracy: 0.7349 - val_loss: 0.5618 - val_accuracy: 0.7240
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5493 - accuracy: 0.7350 - val_loss: 0.5578 - val_accuracy: 0.7238
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5486 - accuracy: 0.7351 - val_loss: 0.5570 - val_accuracy: 0.7244
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5489 - accuracy: 0.7330 - val_loss: 0.5568 - val_accuracy: 0.7248
Epoch 26/100
497/804 [=================>............] - ETA: 0s - loss: 0.5506 - accuracy: 0.7335

:

:

In [ ]:
# Evaluate best model against full test data 

best_model = tuner.get_best_model (1) [0]
model_loss_sk, model_accuracy_sk = best_model.evaluate (X_test_scaled_sk, y_test_sk, verbose =2)
print (f"Loss: {model_loss_sk}, Accuracy: {model_accuracy}")